.controller.ds5 {
    background: url("https://media.discordapp.net/attachments/1044895454384640010/1413082195555258529/Gamepadviewer-magenta.png?ex=68baa2d9&is=68b95159&hm=6915b022e0d0361f93815c5ea9142e3d23f9cf0d04ef4e363cfc3b7f08c3e2db&=&format=webp&quality=lossless&width=603&height=481") no-repeat center center;
    background-size: contain;
    width: 603px;
    height: 481px;
}
